<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="tableSelect.js"></script>
	<title>Add New Property</title>

</head>


<body>

	<div class="centerImg">
		<p align="center" class="init_page"><strong>Add New Property</strong></p>

    <form method="POST" action="/addProperty">
		<label id="property_name" style="  position: relative; left: 200px"><strong>Property Name*: </strong></label>
		<input type="text" name="name" style="position: relative; left: 210px; height: 30px; width: 500px" required>

		<pre></pre>



		<label id="street_address" style="  position: relative; left: 200px"><strong>Street Address*: </strong></label>
		<input type="text" name="street" style="position: relative; left: 210px; height: 30px; width: 500px" required>

		<pre></pre>

		<label id="city" style="  position: relative; left: 275px"><strong>City*: </strong></label>
		<input type="text" name="city" style="position: relative; left: 285px; height: 30px; width: 200px" required>

		<label id="zip" style="  position: relative; left: 400px"><strong>Zip*: </strong></label>
		<input type="text" name="zip" style="position: relative; left: 410px; height: 30px; width: 200px" required>

		<label id="acres" style="  position: relative; left: 600px"><strong>Acres*: </strong></label>
		<input type="text" name="size" style="position: relative; left: 610px; height: 30px; width: 200px" required>

		<pre></pre>

		<label id="property_type" style="  position: relative; left: 200px"><strong>Property Type*: </strong></label>
			<select name="propertyType" onchange="hideAnimals();" id= "propertyType_selector" style=" position: relative;   width: 160px;height: 50px; left: 210px" required>
								<option value="Search_by" disabled selected hidden>Select Property...*</option>
								<option value="Farm">Farm</option>
								<option value="Garden">Garden</option>
								<option value="Orchard">Orchard</option>

			</select>

		<label id="animal_type" style="  position: relative; left: 400px"><strong>Animal*: </strong></label>
			<select name="animal" id="animal_selector" style=" position: relative;   width: 160px;height: 50px; left: 410px" required>
								<option value="select_animal" disabled selected hidden>Select Animal...*</option>
                {% for animal in animals %}
                <option value="{{animal["Name"]}}">{{animal["Name"]}}</option>
                {% endfor %}

			</select>

		<label id="crop_type" style="  position: relative; left: 600px"><strong>Crop*: </strong></label>
			<select name="crop" style=" position: relative;   width: 160px;height: 50px; left: 610px" required>
								<option value="select_crop" disabled selected hidden>Select Crop...*</option>
                {% for crop in crops %}
                <option value="{{crop["Name"]}}">{{crop["Name"]}}</option>
                {% endfor %}

			</select>


		<pre></pre>

		<label id="is_public" style="  position: relative; left: 245px"><strong>Public?*: </strong></label>
			<select name="public" style=" position: relative;   width: 160px;height: 50px; left: 255px" required>
								<option value="select_is_public" disabled selected hidden>Select...*</option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>

			</select>


		<pre></pre>

		<label id="is_commercial" style="  position: relative; left: 200px"><strong>Commercial?*: </strong></label>
			<select name="commercial" style=" position: relative;   width: 160px;height: 50px; left: 210px" required>
								<option value="select_is_public" disabled selected hidden>Select...*</option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>

			</select>


		<pre></pre>

		<button type="submit" id="add_property_button" style="position: relative; width: 110px; left: 500px">Add Property</button>
		<button id="cancel_button" onclick="return window.location.href ='http://localhost:5000/OWNER';" style="position: relative ; width: 110px;	left: 700px; background: red">Cancel</button>
  </form>
	</div>




</body>
