<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">
  <script src="tableSelect.js"></script>
	<title>New Owner Registration</title>

</head>


<body>

	<!-- <div class="centerImg"> -->
		<p align="center" class="init_page"><strong>Welcome Owner</strong></p>


		<!-- <div><p class="init_page"><span class="tab"><strong>Your Properties:</strong></span></p></div> -->
		<table align="center" id="ownerTable">
			<tr>
		       <!--  <td style="width: 259px; vertical-align:top">
		            main page
		        </td> -->
		        <td id="intro_prop">
		        	<strong>Your Properties: </strong>
		        </td>
    		</tr>

			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
				<th>Zip</th>
				<th>Size</th>
				<th>Type</th>
				<th>Public</th>
				<th>Commercial</th>
				<th>ID</th>
				<th>isValid</th>
				<th>Visits</th>
				<th>Avg. Ratings</th>

			</tr>
        <!-- {% for p in plist %} -->
  			<tr onclick="tableSelect(this);" id="{{p['ID']}}">
  				<td>{{p['Name']}}</td>
  				<td>{{p['Street']}}</td>
  				<td>{{p['City']}}</td>
  				<td>{{p['Zip']}}</td>
  				<td>{{p['Size']}}</td>
  				<td>{{p['PropertyType']}}</td>
  				<td>{{p['IsPublic']}}</td>
  				<td>{{p['IsCommercial']}}</td>
  				<td>{{p['ID']}}</td>
  				<td>{{p['ApprovedBy']}}</td>
  				<td>{{p['Visits']}}</td>
  				<td>{{p['AvgRating']}}</td>

  			</tr>
      <!-- {% endfor %} -->

		</table>

    <pre></pre>

    <select id="toSearch" name="Search_by" style=" position: relative;   width: 100px;height: 70px; left: 200px" required>
        <option value="Search_by" disabled selected hidden>Search by...*</option>
        <option id="0" value="Name">Name</option>
        <option id="1" value="Address">Address</option>
        <option id="2" value="City">City</option>
        <option id="3" value="Zip">Zip</option>
        <option id="4" value="Size">Size</option>
        <option id="5" value="Type">Type</option>
        <option id="6" value="Public">Public</option>
        <option id="7" value="Commercial">Commercial</option>
        <option id="8" value="ID">ID</option>
    </select>

  <pre></pre>
  <input type="Search Term" name="Search Term" id="Search Term" placeholder="Search Term" style=" position: relative; left:200px; width:110px"></input>
  <pre></pre>
  <button style=" position: relative;  left: 200px; width:110px" onclick="myFunction() ">Search Properties</button>

  <pre></pre>
  <pre></pre>

  <button onclick="findSelected()">Select</button>
  <button onclick="sortTableAsc('10')">Visit Ascending</button>
  <button onclick="sortTableDes('10')">Visit Descending</button>
  <button onclick="sortTableAscL('0')">Name Ascending</button>
  <button onclick="sortTableDesL('0')">Name Descending</button>
  <button onclick="sortTableAscL('2')">City Ascending</button>
  <button onclick="sortTableDesL('2')">City Descending</button>
  <button onclick="sortTableAscL('5')">Type Ascending</button>
  <button onclick="sortTableDesL('5')">Type Descending</button>

  <pre></pre>

  <button onclick="sortTableAsc('11')">Avg. Rating Ascending</button>

  <pre></pre>

  <button onclick="sortTableDes('11')">Avg. Rating Descending</button>

	<!-- </div> -->

	<!--Ascending number function  -->
	<script>
function sortTableAsc(C) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ownerTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 2; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[C];
      y = rows[i + 1].getElementsByTagName("TD")[C];
      //check if the two rows should switch place:
      if (x.innerHTML > y.innerHTML) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>



<!--Sort Table with Letters Ascending -->

<script>
function sortTableAscL(C) {
var table, rows, switching, i, x, y, shouldSwitch;
table = document.getElementById("ownerTable");
switching = true;
/*Make a loop that will continue until
no switching has been done:*/
while (switching) {
//start by saying: no switching is done:
switching = false;
rows = table.getElementsByTagName("TR");
/*Loop through all table rows (except the
first, which contains table headers):*/
for (i = 2; i < (rows.length - 1); i++) {
  //start by saying there should be no switching:
  shouldSwitch = false;
  /*Get the two elements you want to compare,
  one from current row and one from the next:*/
  x = rows[i].getElementsByTagName("TD")[C];
  y = rows[i + 1].getElementsByTagName("TD")[C];
  //check if the two rows should switch place:
  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
	//if so, mark as a switch and break the loop:
	shouldSwitch= true;
	break;
  }
}
if (shouldSwitch) {
  /*If a switch has been marked, make the switch
  and mark that a switch has been done:*/
  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
  switching = true;
}
}
}
</script>

<!--Sort Table with Letters Descending -->

<script>
function sortTableDesL(C) {
var table, rows, switching, i, x, y, shouldSwitch;
table = document.getElementById("ownerTable");
switching = true;
/*Make a loop that will continue until
no switching has been done:*/
while (switching) {
//start by saying: no switching is done:
switching = false;
rows = table.getElementsByTagName("TR");
/*Loop through all table rows (except the
first, which contains table headers):*/
for (i = 2; i < (rows.length - 1); i++) {
  //start by saying there should be no switching:
  shouldSwitch = false;
  /*Get the two elements you want to compare,
  one from current row and one from the next:*/
  x = rows[i].getElementsByTagName("TD")[C];
  y = rows[i + 1].getElementsByTagName("TD")[C];
  //check if the two rows should switch place:
  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
	//if so, mark as a switch and break the loop:
	shouldSwitch= true;
	break;
  }
}
if (shouldSwitch) {
  /*If a switch has been marked, make the switch
  and mark that a switch has been done:*/
  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
  switching = true;
}
}
}
</script>
<!--Sort numbers Descending function  -->
<script>
function sortTableDes(C) {
var table, rows, switching, i, x, y, shouldSwitch;
table = document.getElementById("ownerTable");
switching = true;
/*Make a loop that will continue until
no switching has been done:*/
while (switching) {
//start by saying: no switching is done:
switching = false;
rows = table.getElementsByTagName("TR");
/*Loop through all table rows (except the
first, which contains table headers):*/
for (i = 2; i < (rows.length - 1); i++) {
  //start by saying there should be no switching:
  shouldSwitch = false;
  /*Get the two elements you want to compare,
  one from current row and one from the next:*/
  x = rows[i].getElementsByTagName("TD")[C];
  y = rows[i + 1].getElementsByTagName("TD")[C];
  //check if the two rows should switch place:
  if (x.innerHTML < y.innerHTML) {
	//if so, mark as a switch and break the loop:
	shouldSwitch= true;
	break;
  }
}
if (shouldSwitch) {
  /*If a switch has been marked, make the switch
  and mark that a switch has been done:*/
  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
  switching = true;
}
}
}
</script>


</body>
</html>
