<!DOCTYPE html>
<html>
 
<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="admin_functionality.css">

	<title>New Owner Registration</title>
	
</head>


<body>

	<div class="centerImg">

		<form class="outsideFig">	
			<p class=title><strong>Welcome</strong></p>

			<button>View Visitors List</button>
			<button>View Owners List</button>
			<button>View Confirmed Properties</button>
			<button>View Unconfirmed Properties</button>
			<button>View Approved Animals and Crops</button>
			<button>View Pending Animals and Crops</button>
			<button>Log Out</button>

		</form>	
	</div>
	

</body>
</html>