<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="tableSelect.js"></script>
	<title>All Visitors in System</title>

</head>


<body>

	<div class="centerImg">
		<!-- <p align="center" class="init_page"><strong>Welcome Owner</strong></p> -->


		<!-- <div><p class="init_page"><span class="tab"><strong>Your Properties:</strong></span></p></div> -->
		<table align="center" id="visitorTable">
			<tr>
		       <!--  <td style="width: 259px; vertical-align:top">
		            main page
		        </td> -->
		        <td id="intro_prop">
		        	<strong>All Visitors in System: </strong>
		        </td>
    		</tr>

			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>Logged Visits</th>



			</tr>
      {% for v in vlist %}
			<tr onclick="tableSelect(this);" id="{{v["Username"]}}">
				<td>{{v["Username"]}}</td>
				<td>{{v["Email"]}}</td>
				<td>{{v["Visits"]}}</td>

			</tr>
      {% endfor %}

		</table>


					<pre></pre>
					<pre></pre>
					<pre></pre>


					<select id="toSearch" name="Search_by" style=" position: relative;   width: 100px;height: 70px; left: 200px">
							<option value="Search_by" disabled selected hidden>Search by...</option>
							<option id="0">Username</option>
							<option id="1">Email</option>
							<option id="2">Logged Visits</option>

					</select>

				<pre></pre>
				<input type="Search Term" name="Search Term" id="Search Term" placeholder="Search Term" style="left:200px; width:110px"></input>
				<button id="delete_visitor_account" onclick="deleteVisitor();" style=" position: relative;  left: 400px; width:110px">Delete Visitor Account</button>


				<pre></pre>
				<button id="Search Visitors" onclick="search('visitorTable');"style=" position: relative;  left: 200px; width:110px">Search Visitors</button>

				<button id="delete_log_history" onclick="deleteLog();" style="position: relative ; width: 110px;	left: 400px">Delete Log History</button>

				<button id="Back" onclick="return window.location.href ='http://localhost:5000/ADMIN';"style="position: relative ; width: 110px;	left: 600px; background: red">Back</button>


	</div>




</body>
