<!DOCTYPE html>
<html>
 
<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">

	<title>All Owners in System</title>
	
</head>


<body>

	<div class="centerImg">
		<!-- <p align="center" class="init_page"><strong>Welcome Owner</strong></p> -->


		<!-- <div><p class="init_page"><span class="tab"><strong>Your Properties:</strong></span></p></div> -->
		<table align="center">
			<tr>
		       <!--  <td style="width: 259px; vertical-align:top">
		            main page
		        </td> -->
		        <td id="intro_prop">
		        	<strong>All Owners in System: </strong>
		        </td>
    		</tr>

			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>Number of Properties</th>
				
				

			</tr>

			<tr>
				<td>fsdf</td>
				<td>fsdf</td>
				<td>fsdf</td>
				
			
			</tr>


		</table>

	
					<pre></pre>
					<pre></pre>
					<pre></pre>


					<select name="Search_by" style=" position: relative;   width: 100px;height: 70px; left: 200px">
							<option value="Search_by" disabled selected hidden>Search by...</option>
							<option value="Farm">Name</option>
							<option value="Garden">Address</option>
							<option value="Crop">City</option>
							<option value="Crop">Zip</option>
							<option value="Crop">Size</option>
							<option value="Crop">Type</option>
							<option value="Crop">Public</option>
							<option value="Crop">Commercial</option>
							<option value="Crop">ID</option>
							<option value="Crop">City</option>

					</select>

				<pre></pre>
				<input type="Search Term" name="Search Term" id="Search Term" placeholder="Search Term" style="left:200px; width:110px"></input>	
				<button id="delete_owner_account" style=" position: relative;  left: 600px; width:110px">Delete Owner Account</button>


				<pre></pre>
				<button id="search_owners" style=" position: relative;  left: 200px; width:110px">Search Owners</button>

				<!-- <button id="delete_log_history" style="position: relative ; width: 110px;	left: 400px">Delete Log History</button> -->

				<button id="Back" style="position: relative ; width: 110px;	left: 600px; background: red">Back</button>


	</div>


	

</body>
