<!DOCTYPE html>
<html>
 
<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">

	<title>Garden Details 2</title>
	
</head>


<body>

	<div class="centerImg">

		<form class="outsideFig">	
			<p class=title style="font-size: 30px;"><strong>Garden Details</strong></p>

			<pre></pre>
			<pre></pre>


			<div>
				<p id="Name" class="details"><strong>Name: </strong></p>
			</div>

			<div>
				<p id="Owner" class="details"><strong>Owner: </strong></p>
			</div>

		    <div>
				<p id="Owner_email" class="details"><strong>Owner Email: </strong></p>
			</div>

			<div>
				<p id="Visits" class="details"><strong>Visits: </strong></p>
			</div>

			<div>
				<p id="Address" class="details"><strong>Address: </strong></p>
			</div>

			<div>
				<p id="City" class="details"><strong>City: </strong></p>
			</div>

			<div>
				<p id="Zip" class="details"><strong>Zip: </strong></p>
			</div>

			<div>
				<p id="size_a" class="details"><strong>Size (acres): </strong></p>
			</div>

			<div>
				<p id="avg_rat" class="details" style="color:red"><strong>Avg. Rating: </strong></p>
			</div>

			<div>
				<p id="type" class="details"><strong>Type: </strong></p>
			</div>

			<div>
				<p id="is_public" class="details"><strong>Public: </strong></p>
			</div>

			<div>
				<p id="is_commercial" class="details"><strong>Commercial: </strong></p>
			</div>

			<div>
				<p id="place_id" class="details"><strong>Id: </strong></p>
			</div>

			<div>
				<p id="Crops" class="details"><strong>Crops: </strong></p>
			</div>

		

		<pre></pre>
		<pre></pre>

		<button id="un_log_visit" >Un-Log Visit</button>

		<pre></pre>
		<button id="Back" style=" background: red">Back</button>

			
			<!-- <button>Cancel</button> -->

		</form>	
	</div>
	

</body>
</html>