<!DOCTYPE html>
<html>
 
<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">

	<title>Garden Details</title>
	
</head>


<body>

	<div class="centerImg">
		<p align="center" class="init_page"><strong>Garden Details</strong></p>


		<label id="name" style="  position: relative; left: 400px"><strong>Name: </strong></label>

		<pre></pre>

		<label id="owner" style="  position: relative; left: 400px"><strong>Owner: </strong></label>

		<pre></pre>

		<label id="owner_email" style="  position: relative; left: 400px"><strong>Owner Email: </strong></label>

		<pre></pre>

		<label id="visits" style="  position: relative; left: 400px"><strong>Visits: </strong></label>

		<pre></pre>

		<label id="address" style="  position: relative; left: 400px"><strong>Address: </strong></label>

		<pre></pre>

		<label id="city" style="  position: relative; left: 400px"><strong>City: </strong></label>

		<pre></pre>

		<label id="zip" style="  position: relative; left: 400px"><strong>Zip: </strong></label>

		<pre></pre>

		<label id="size_acres" style="  position: relative; left: 400px"><strong>Size (acres): </strong></label>

		<pre></pre>

		<label id="avg_rating" style="  position: relative; left: 400px; color: red;"><strong>Avg. Rating: </strong></label>

		<pre></pre>

		<label id="type" style="  position: relative; left: 400px"><strong>Type: </strong></label>

		<pre></pre>

		<label id="public" style="  position: relative; left: 400px"><strong>Public: </strong></label>

		<pre></pre>

		<label id="commercial" style="  position: relative; left: 400px"><strong>Commercial: </strong></label>

		<pre></pre>

		<label id="ID" style="  position: relative; left: 400px"><strong>ID: </strong></label>

		<pre></pre>

		<label id="crops" style="  position: relative; left: 400px"><strong>Crops: </strong></label>

		<pre></pre>
		<pre></pre>

		<!-- <label id="rate_your_visit" style="  position: relative; left: 400px; color: red;"><strong>Rate Your Visit*: </strong></label> -->
		<!-- <input type="number" max=5 min=0 maxlength="5" minlength="0" name="rate_your_visit_input" style="position: relative; left: 410px; height: 30px; width: 200px" required> -->

		<pre></pre>
		<pre></pre>

		<button id="un_log_visit" style="position: relative; width: 110px; left: 600px">Un-Log Visit</button>

		<pre></pre>
		<button id="Back" style="position: relative ; width: 110px;	left: 600px; background: red">Back</button>


	


	</div>


	

</body>
