<!DOCTYPE html>
<html>
<head>
	<title>Log in page</title>
</head>
<body>
<h1><strong>Atlanta Gardens, Farms, and Orchards</strong></h1>

<form>
	<div>
		<label for="email">Email: </label>
    	<input type="email" size="15"  id="email" minlength="12" maxlength="32" placeholder="name@gmail.com" required>

    	<label for="email">Password: </label>
   		 <input type="password" id="email" minlength="5" maxlength="13" placeholder="password" size="15" required>
    </div>
		<!-- </label> -->
		<div><button><strong>Login</strong></button></div>

		<button><strong>New Owner Registration</strong></button>

		<button><strong>New Visitor Registration</strong></button>

</form>

</body>
</html>