
<!DOCTYPE html>
<html>
<head>
  <title>Atl Garden, Farm, and Orchards</title>
  <!-- <h1>Atl Garden, Farm, and Orchards</h1> -->
</head>
<body>


  <link rel="stylesheet" type="text/css" href="format_login.css">
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" method="POST">
        <p><strong>Atl Garden, Farm, and Orchards</strong></p>
        <input name="username" type="text" placeholder="username"/>
        <input name="password" type="password" placeholder="password" minlength="8" />
       <button type="submit" formaction="/login">Login</button>
       <button type="submit" formaction="/ownerRegisterPage" >New Owner Registration</button>
      <button type="submit" formaction="/visitorRegisterPage">New Visitor Registration</button>
      </form>
    </div>
  </div>
<script>
function owner(){
  console.log("hello");
  window.location = window.location + "/" + "ownerRegisterPage";
}
</script>
</body>
</html>
