<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="tableSelect.js"></script>
	<title>Manage Property</title>

</head>


<body>
 <script>
 $( document ).ready(function() {
    console.log( "ready!" );
		checkAdmin();
});
 </script>
	<div class="centerImg">
		<p align="center" class="init_page"><strong>Manage {{result["Name"]}}</strong></p>


		<label id="name" style="  position: relative; left: 200px"><strong>Name: </strong></label>
		<input type="text"  id="farm_name" value="{{result["Name"]}}" style="position: relative; left: 210px; height: 30px; width: 200px">

		<label id="type" style="position: relative; left: 400px"><strong>Type: {{result["PropertyType"]}}</strong></label>

      <table id="crops_table" align="right">

    <tr>
      <th>Crops</th>
    </tr>

    {% for crop in crops %}
    <tr onclick="tableSelect(this);" id="{{crop['Name']}}">
      <td>{{crop["Name"]}}</td>
    </tr>
    {% endfor %}

  </table>

  <table id="animals_table" align="right">

    <tr>
      <th>Animals</th>
    </tr>
    {% for animal in animals %}
    <tr onclick="tableSelect(this);" id="{{animal['Name']}}">
      <td>{{animal["Name"]}}</td>
    </tr>
    {% endfor %}

  </table>
		<pre></pre>

		<label id="address" style="  position: relative; left: 200px"><strong>Address: </strong></label>
		<input type="text" value="{{result["Street"]}}" id="address_input" style="position: relative; left: 210px; height: 30px; width: 200px">

		<label style="  position: relative; left: 400px"><strong>Public: </strong></label>
		<select name="is_public" id="is_public" style="position: relative; left: 410px; height: 30px;" >

			<option id="No">No</option>
			<option id="Yes">Yes</option>


		</select>


		<pre></pre>


		<label id="city" style="  position: relative; left: 200px"><strong>City: </strong></label>
		<input type="text" value="{{result["City"]}}" id="city_input" style="position: relative; left: 210px; height: 30px; width: 200px">

		<label id="is_commercial" style="  position: relative; left: 400px"><strong>Commercial: </strong></label>
		<select name="is_commercial_selector" id="is_commercial_selector" style="position: relative; left: 410px; height: 30px" >

			<option id="No">No</option>
			<option id="Yes">Yes</option>


		</select>

		<pre></pre>

		<label id="zip" style="  position: relative; left: 200px"><strong>Zip: </strong></label>
		<input type="text" id="zip_input" onkeypress="checkNumbers('zip_input');" value="{{result["Zip"]}}" style="position: relative; left: 210px; height: 30px; width: 200px">

		<label id="ID" style="  position: relative; left: 400px"><strong>ID: {{result["ID"]}}</strong></label>

		<pre></pre>

		<label id="size_acres" style="  position: relative; left: 200px"><strong>Size(acres): </strong></label>
		<input type="text" onkeypress="checkNumbers('size_address_input');" value="{{result["Size"]}}"id="size_address_input" style="position: relative; left: 210px; height: 30px; width: 200px">

		<!-- Here goes until animals. I need to create the remaining ones now -->

		<pre></pre>
		<pre></pre>
<!--
		<label id="animals_check" style="  position: relative; left: 200px"><strong>Animals: </strong></label>

		<select name="animal_selector" id="animal_selector" style="position: relative; left: 210px; height: 30px" >
      {% for animal in animals %}
			<option value="{{animal["Name"]}}">{{animal["Name"]}}</option>
      {% endfor %}

		</select>

		<label id="crops_check" style="  position: relative; left: 500px"><strong>Crops: </strong></label>

		<select name="crops_selector" id="crops_selector" style="position: relative; left: 510px; height: 30px" >

      {% for crop in crops %}
			<option value="{{crop["Name"]}}">{{crop["Name"]}}</option>
      {% endfor %}

		</select> -->

		<pre></pre>
 		<script>
			$( document ).ready(function() {
	    	console.log( "ready!" );
				if($("#type").html() != "<strong>Type: FARM</strong>"){
					$("#add_new_animal").hide();
					$("#approved_animal_selector").hide();
					$("#add_animal_button").hide();
					$("#submit_animal_request_button").hide();
					$("#animalname").hide();
					$("#request_animal_approval").hide();
					$("#delete_animal").hide();
					$("#animals_table").hide();
				}
			});
		</script>
		<label id="add_new_animal" style="  position: relative; left: 200px"><strong>Add new Animal: </strong></label>

		<select  name="approved_animal_selector" id="approved_animal_selector" style="position: relative; left: 210px; height: 30px">
      <option value="select_approved_animal" disabled selected hidden>Select approved animal...</option>
      {% for animal in animals_approved %}
      <option value="{{animal["Name"]}}">{{animal["Name"]}}</option>
      {% endfor %}

		</select>

		<label id="add_new_crop" style="  position: relative; left: 330px"><strong>Add new crop: </strong></label>

		<select  name="approved_crop_selector" id="approved_crop_selector" style="position: relative; left: 340px; height: 30px">

			<option value="select_approved_animal" disabled selected hidden>Select approved crop...</option>
      {% for crop in crops_approved %}
      <option value="{{crop["Name"]}}">{{crop["Name"]}}</option>
      {% endfor %}

		</select>

		<pre></pre>

		<button id="add_animal_button" onclick="addAnimal();" style="position: relative; left: 330px">Add Animal to Property</button>

		<button  id="add_crop_button" onclick="addCrop();" style="position: relative; left: 530px">Add Crop to Property</button>
    <button id="delete_crop" onclick="deleteCrop();" style="float: right; background: red">Delete Crop</button>
    <button id="delete_animal" onclick="deleteAnimal();" style="float: right ; background: red">Delete Animal</button>
		<pre></pre>

    <pre></pre>
    		<pre></pre>
    		<pre></pre>

    		<label id="request_crop_approval" style="  position: relative; left: 150px"><strong>Request Crop Approval: </strong></label>
    		<input type="text" id="cropname" name="enter_new_crop_name" placeholder="Enter New Crop Name" style="position: relative; left: 160px; height: 30px; width: 200px">

    		<select  name="crop_type_selector" id="crop_type_selector" style="position: relative; left: 170px; height: 30px">

    			<option value="new_crop_type" disabled selected hidden>New Crop Type...</option>
          <option id="fruit">Fruit</option>
          <option id="flower">Flower</option>
          <option id="nut">Nut</option>
          <option id="vegetable">Vegetable</option>
    		</select>


    		<label id="request_animal_approval" style="  position: relative; left: 300px"><strong>Request Animal Approval: </strong></label>
    		<input type="text" id="animalname" name="enter_new_animal_name" placeholder="Enter New Animal Name" style="position: relative; left: 310px; height: 30px; width: 200px">

    		<!-- <select  name="animal_type_selector" id="animal_type_selector" style="position: relative; left: 320px; height: 30px">

    			<option value="new_crop_type" disabled selected hidden>New Animal Type...</option>

    		</select> -->

    		<pre></pre>

    		<button  id="submit_crop_request_button" onclick="requestCrop();" style="position: relative; left: 360px"><strong>Submit Request</strong></button>
    		<button  id="submit_animal_request_button" onclick="requestAnimal();" style="position: relative; left: 880px"><strong>Submit Request</strong></button>

    		<pre></pre>
    		<pre></pre>

		<button  id="save_changes_button" onclick="saveChanges();"style="position: relative; left: 500px"><strong>Save Changes</strong></button>

		<pre></pre>

		<button  id="back_button" onclick="return window.location.href ='http://localhost:5000/OWNER';" style="position: relative; left: 500px"><strong>Back</strong></button>

		<button  id="delete_property" onclick="$.post('/deleteProperty');" style="position: relative; left: 700px; background: red"><strong> Delete Property</strong></button>




<!--
					<select name="Search_by" style=" position: relative;   width: 100px;height: 70px; left: 200px" required>
							<option value="Search_by" disabled selected hidden>Search by...*</option>
							<option value="Farm">Name</option>
							<option value="Garden">Address</option>
							<option value="Crop">City</option>
							<option value="Crop">Zip</option>
							<option value="Crop">Size</option>
							<option value="Crop">Type</option>
							<option value="Crop">Public</option>
							<option value="Crop">Commercial</option>
							<option value="Crop">ID</option>
							<option value="Crop">City</option>

					</select>

				<pre></pre>
				<input type="Search Term" name="Search Term" id="Search Term" placeholder="Search Term" style="left:200px; width:110px"></input>

				<pre></pre>
				<button id="Search Properties" style=" position: relative;  left: 200px; width:110px">Search Properties</button>

				<button id="Manage_Selected_Property" style="position: relative ; width: 110px;	left: 400px">Manage Selected Property</button>

				<button id="Back" style="position: relative ; width: 110px;	left: 600px; background: red">Back</button> -->


	</div>




</body>
