<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">

	<title>Manage Farm Name</title>

</head>


<body>

	<div class="centerImg">
		<p align="center" class="init_page"><strong>Manage Farm Name</strong></p>

		<pre></pre>
		<pre></pre>

		<label id="name" style="  position: relative; left: 200px"><strong>Name: </strong></label>
		<input type="text" name="farm_name" style="position: relative; left: 225px; height: 30px; width: 200px">

		<label id="type" style="position: relative; left: 400px"><strong>Type: </strong></label>

		<input type="text" name="type_farm" style="position: relative; left: 410px; height: 30px; width: 200px">


		<table align="right">

			<tr>
				<th>Crops</th>



			</tr>

			<tr>
				<td>fsdf</td>


			</tr>


		</table>


		<table align="right">

			<tr>
				<th>Animals</th>



			</tr>

			<tr>
				<td>fsdf</td>


			</tr>


		</table>

		<pre></pre>

		<label id="address" style="  position: relative; left: 200px"><strong>Address: </strong></label>
		<input type="text" name="address_input" style="position: relative; left: 210px; height: 30px; width: 200px">

		<label id="is_public" style="  position: relative; left: 400px"><strong>Public: </strong></label>
		<select name="is_public" id="is_public" style="position: relative; left: 410px; height: 30px;" >

			<option value="False">False</option>
			<option value="True">True</option>


		</select>


		<pre></pre>


		<label id="city" style="  position: relative; left: 200px"><strong>City: </strong></label>
		<input type="text" name="city_input" style="position: relative; left: 240px; height: 30px; width: 200px">

		<label id="is_commercial" style="  position: relative; left: 390px"><strong>Commercial: </strong></label>
		<select name="is_commercial_selector" id="is_commercial_selector" style="position: relative; left: 400px; height: 30px" >

			<option value="False">False</option>
			<option value="True">True</option>


		</select>

		<pre></pre>

		<label id="zip" style="  position: relative; left: 200px"><strong>Zip: </strong></label>
		<input type="text" name="zip_input" style="position: relative; left: 245px; height: 30px; width: 200px">

		<label id="ID" style="  position: relative; left: 450px"><strong>ID: </strong></label>

		<pre></pre>

		<label id="size_acres" style="  position: relative; left: 170px"><strong>Size(acres): </strong></label>
		<input type="text" name="size_address_input" style="position: relative; left: 190px; height: 30px; width: 200px">

		<!-- Here goes until animals. I need to create the remaining ones now -->



		<pre></pre>

		<label id="add_new_crop" style="  position: relative; left: 150px"><strong>Add New Crop: </strong></label>

		<select  name="approved_animal_selector" id="approved_animal_selector" style="position: relative; left: 160px; height: 30px">

			<option value="select_approved_crop" disabled selected hidden>Select Approved crop...</option>

		</select>


<!-- Until here is fine -->


		<!-- <label id="add_new_crop" style="  position: relative; left: 180px"><strong> Crop: </strong></label> -->

		<!-- this is a list not a dropdown -->

		<!-- <select  name="approved_crop_selector" id="approved_ccrop_selector" style="position: relative; left: 190px; height: 30px">

			<option value="select_approved_animal" disabled selected hidden>Select Approved crop...</option>

		</select> -->




		<label id="add_new_animal" style="  position: relative; left: 280px"><strong>Add New Animal: </strong></label>

		<select  name="approved_animal_selector" id="approved_animal_selector" style="position: relative; left: 290px; height: 30px">

			<option value="select_approved_animal" disabled selected hidden>Select Approved Animal...</option>

		</select>


		<!-- <label id="add_animal" style="  position: relative; left: 310px"><strong>Animal: </strong></label>

		<select  name="approved_animal_selector" id="approved_animal_selector" style="position: relative; left: 320px; height: 30px">

			<option value="select_approved_animal" disabled selected hidden>Select Approved Animal...</option>

		</select> -->



		<pre></pre>

		<button id="add_crop_button_down" style="position: relative; left: 270px">Add Crop to Property</button>
		<button id="add_animal_button_down" style="position: relative; left: 500px">Add Crop to Property</button>


		<button id="delete_crop" style="float: right; background: red">Delete Crop</button>
		<button id="delete_crop" style="float: right ; background: red">Delete Animal</button>

		<!-- <button  id="add_crop_button" style="position: relative; left: 530px">Add Crop to Property</button> -->

		<pre></pre>
		<pre></pre>
		<pre></pre>

		<label id="request_crop_approval" style="  position: relative; left: 150px"><strong>Request Crop Approval: </strong></label>
		<input type="text" name="enter_new_crop_name" placeholder="Enter New Crop Name" style="position: relative; left: 160px; height: 30px; width: 200px">

		<select  name="crop_type_selector" id="crop_type_selector" style="position: relative; left: 170px; height: 30px">

			<option value="new_crop_type" disabled selected hidden>New Crop Type...</option>

		</select>


		<label id="request_animal_approval" style="  position: relative; left: 300px"><strong>Request Animal Approval: </strong></label>
		<input type="text" name="enter_new_animal_name" placeholder="Enter New Animal Name" style="position: relative; left: 310px; height: 30px; width: 200px">

		<select  name="animal_type_selector" id="animal_type_selector" style="position: relative; left: 320px; height: 30px">

			<option value="new_crop_type" disabled selected hidden>New Animal Type...</option>

		</select>

		<pre></pre>

		<button  id="submit_crop_request_button" style="position: relative; left: 360px"><strong>Submit Request</strong></button>
		<button  id="submit_animal_request_button" style="position: relative; left: 880px"><strong>Submit Request</strong></button>

		<pre></pre>
		<pre></pre>

		<button  id="save_changes_button" style="position: relative; left: 500px ; width:300px"><strong>Save Changes</strong> (confirm property)</button>

		<pre></pre>

		<button  id="back_button" style="position: relative; left: 500px; width:300px"><strong>Back</strong> (Do not Save or Confirm)</button>

		<button  id="delete_property" style="position: relative; left: 700px; background: red"><strong> Delete Property</strong></button>




<!--
					<select name="Search_by" style=" position: relative;   width: 100px;height: 70px; left: 200px" required>
							<option value="Search_by" disabled selected hidden>Search by...*</option>
							<option value="Farm">Name</option>
							<option value="Garden">Address</option>
							<option value="Crop">City</option>
							<option value="Crop">Zip</option>
							<option value="Crop">Size</option>
							<option value="Crop">Type</option>
							<option value="Crop">Public</option>
							<option value="Crop">Commercial</option>
							<option value="Crop">ID</option>
							<option value="Crop">City</option>

					</select>

				<pre></pre>
				<input type="Search Term" name="Search Term" id="Search Term" placeholder="Search Term" style="left:200px; width:110px"></input>

				<pre></pre>
				<button id="Search Properties" style=" position: relative;  left: 200px; width:110px">Search Properties</button>

				<button id="Manage_Selected_Property" style="position: relative ; width: 110px;	left: 400px">Manage Selected Property</button>

				<button id="Back" style="position: relative ; width: 110px;	left: 600px; background: red">Back</button> -->


	</div>




</body>
