<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="new_owner_reg.css">
	<script src="passwordCheck.js"></script>
	<script src="tableSelect.js"></script>
	<title>New Owner Registration</title>

</head>


<body>

	<div class="centerImg">

		<form class="outsideFig" method="POST" id="myForm">
			<p class=title><strong>New Owner Registration</strong></p>

			<div>
				<label> <input type="email" placeholder="email*" name="email"  required></label>
			</div>

			<div>
			<label> <input type="text" placeholder="username*" name="username"  required></label>
		    </div>

		    <div>
			<label><input type="password" placeholder="password*" name="password" minlength="8" required></label>
			</div>

			<div>
				<label><input type="password" placeholder="confirm password*" name="confirmPassword" minlength="8" required></label>
			</div>

			<div>
			<label><input type="text" placeholder="property name*" name="propertyName" required></label>
			</div>

			<div>
			<label><input type="text" placeholder="street address*" name="streetAddress" required></label>
			</div>

			<div>
			<label><input type="text" placeholder="City*" name="city" required></label>
			<label><input type="text" placeholder="Zip*" name="zip" required></label>
			<label><input type="text" placeholder="Acres*" name="acres" required></label>
			</div>

			<div class="dropdown">


					<select id="propertyType_selector" name="propertyType" onchange="hideAnimalsRegister();" required>
							<option value="Property Type" disabled selected hidden>Property Type*</option>
							<option value="Farm">Farm</option>
							<option value="Garden">Garden</option>
							<option value="Orchard">Orchard</option>
					</select>


					<select id="animal_selector" name="animalType" required="" >
							<option value="animalType" disabled selected hidden>Animal Type*</option>
							<option value="Cows">Cows</option>
							<option value="Pigs">Pigs</option>
					</select>


					<select name="cropType" required="">
							<option value="cropType" disabled selected hidden>Crop Type*</option>
							<option value="Tomatoes">Tomatoes</option>
							<option value="Corn">Corn</option>
					</select>


			</div>


			<div class="dropdown">

				<select name="isPublic" required>
						<option value="isPublic" disabled selected hidden>Is Public?*</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
				</select>



				<select name="isCommercial" required>
						<option value="isCommercial" disabled selected hidden>Is Commercial?*</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
				</select>

			</div>






			<button type="submit" formaction="/registerOwner">Register Owner</button>
			<button>Cancel</button>

		</form>
	</div>


</body>
</html>
