
<!DOCTYPE html>
<html>
<head>
  <title>Atl Garden, Farm, and Orchards</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="passwordCheck.js"></script>
  <!-- <h1>Atl Garden, Farm, and Orchards</h1> -->
</head>
<body>


  <link rel="stylesheet" type="text/css" href="format_login.css">
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="/registerVisitor" method="POST" id="myForm">
        <p><strong>New Visitor Registration</strong></p>
        <input name="email" type="email" placeholder="email"/>
        <font size="2" color="red">The email already exists</font>
        <input name="username" type="text" placeholder="username"/>
        <input name="password" type="password" placeholder="password" minlength="8"/>
        <input name="confirmPassword" type="password" placeholder="confirm password" minlength="8"/>
       <button type="submit">Register Visitor</button>
        <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->

      <!-- <button>New Visitor Registration</button> -->
      </form>
    </div>
  </div>
  <div align="center">
    <form  method="POST">
    <button style="position: relative; background: red" type="submit" formaction="/logout">Cancel</button>
  </form>
  </div>
</body>
</html>
