<!DOCTYPE html>
<html>
<head>
	<title>New Owner Registration</title>
	<link rel="stylesheet" type="text/css" href="format_login.css">
</head>
<body>
<p>New Owner Registration</p>

<form>
<div>
	<label>Email*: <input type="email" placeholder="email" required></label>
</div>

	<div>
	<label>Username*: <input type="text" placeholder="username" required></label>
    </div>

    <div>
	<label>Password*: <input type="password" placeholder="password" required></label>
	</div>

	<div>
		<label>Confirm Password*: <input type="email" placeholder="email" required></label>
	</div>

	<div>
	<label>Property Name*: <input type="text" placeholder="property name" required></label>
	</div>

	<div>
	<label>Street Address*: <input type="text" placeholder="street address" required></label>
	</div>

	<div>
	<label>City*: <input type="text"  required></label>
	<label>Zip*: <input type="text"  required></label>
	<label>Acres*: <input type="text"  required></label>
	</div>

	<div>

	<label for="">Property Type*: </label>
	<select name="propertyType" > 
			<option value="Yes">Yes</option>
			<option value="No">No</option>
	</select>

	<label for="">Animal*: </label>
	<select name="animalType" > 
			<option value="Yes">Yes</option>
			<option value="No">No</option>
	</select>

	<label for="">Crop*: </label>
	<select name="cropType" > 
			<option value="Yes">Yes</option>
			<option value="No">No</option>
	</select>

		
	</div>


	<div>
	<label for="">Public?: </label>
	<select name="isPublic" > 
			<option value="Yes">Yes</option>
			<option value="No">No</option>
	</select>

	</div>

	<div>
		<label for="">Comercial?: </label>
	<select name="isComercial" > 
			<option value="Yes">Yes</option>
			<option value="No">No</option>
	</select>

	</div>

	<button>Register Owner</button>
	<button>Cancel</button>

</body>
</html>