<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="tableSelect.js"></script>
	<title>Pending_approval_animal_crops</title>

</head>


<body>

	<div class="centerImg">
		<!-- <p align="center" class="init_page"><strong>Welcome Owner</strong></p> -->


		<!-- <div><p class="init_page"><span class="tab"><strong>Your Properties:</strong></span></p></div> -->
		<table align="center" id="pendingAC">
			<tr>
		       <!--  <td style="width: 259px; vertical-align:top">
		            main page
		        </td> -->
		        <td id="intro_prop">
		        	<strong>Pending Approval Animals/Crops: </strong>
		        </td>
    		</tr>

			<tr>
				<th>Name</th>
				<th>Type</th>




			</tr>

      {% for ac in aclist%}
			<tr onclick="tableSelect(this);" id="{{ac["Name"]}}">
				<td>{{ac["Name"]}}</td>
				<td>{{ac["Type"]}}</td>

			</tr>
      {% endfor %}


		</table>


					<pre></pre>
					<pre></pre>
					<pre></pre>


					<button id="approve_selection" onclick="approveAC();" style=" position: relative;  left: 600px; width:110px">Approve Selection</button>

					<pre></pre>

					<button id="delete_selection" onclick="deleteAC('pendingAC');" style=" position: relative;  left: 600px; width:110px">Delete Selection</button>

					<pre></pre>

					<button id="Back" onclick="return window.location.href ='http://localhost:5000/ADMIN';" style="position: relative ; width: 110px;	left: 600px; background: red">Back</button>
	</div>




</body>
