<!DOCTYPE html>
<html>

<head>

	<link  link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="unconfirmed_properties.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="tableSelect.js"></script>
	<title>Visit History</title>

</head>


<body>

	<div class="centerImg">
		<!-- <p align="center" class="init_page"><strong>Welcome Owner</strong></p> -->


		<!-- <div><p class="init_page"><span class="tab"><strong>Your Properties:</strong></span></p></div> -->
		<table align="center" id="visitHistory">
			<tr>
		       <!--  <td style="width: 259px; vertical-align:top">
		            main page
		        </td> -->
		        <td id="intro_prop">
		        	<strong>Your Visit History: </strong>
		        </td>
    		</tr>

			<tr>
				<th>Name</th>
				<th>Date Logged</th>
				<th style="color: red">Rating</th>




			</tr>

            {% for p in plist %}
      			<tr onclick="tableSelect(this);" id="{{p['ID']}}">
      				<td>{{p['Name']}}</td>
      				<td>{{p['VisitDate']}}</td>
      				<td>{{p['Rating']}}</td>

                </tr>
          {% endfor %}


		</table>


					<pre></pre>
					<pre></pre>
					<pre></pre>


					<!-- <button id="approve_selection" style=" position: relative;  left: 600px; width:110px">Approve Selection</button> -->

					<!-- <pre></pre> -->

					<button id="view_property_details" onclick="viewDetails('visitHistory');" style=" position: relative;  left: 600px; width:110px">View Property Details</button>

					<pre></pre>

					<button id="Back" onclick="return window.location.href ='http://localhost:5000/VISITOR';" style="position: relative ; width: 110px;	left: 600px; background: red">Back</button>
	</div>




</body>
